<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>12-JspApp11-AccessingImplicitObjects</display-name>
  <welcome-file-list>
    <welcome-file>test.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param> 
  <param-name>p1</param-name>
  <param-value>val1</param-value>
  </context-param>
  
  <servlet>
    <servlet-name>test</servlet-name>
    <jsp-file>/test.jsp</jsp-file>
    <init-param>
     <param-name>p2</param-name>
     <param-value>val2</param-value>
    </init-param>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/testurl</url-pattern>
  </servlet-mapping>
</web-app>