<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>07-JspApp6-Html_to_Jsp_toDB_Communication</display-name>
  <welcome-file-list>
    <welcome-file>register.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>db</servlet-name>
    <jsp-file>/WEB-INF/pages/db_operations.jsp</jsp-file>
    <init-param>
      <param-name>driver</param-name>
      <param-value>oracle.jdbc.driver.OracleDriver</param-value>
    </init-param>
    
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:oracle:thin:@localhost:1521:orcl</param-value>
    </init-param>
    
    <init-param>
      <param-name>user</param-name>
      <param-value>scott</param-value>
    </init-param>
    
    <init-param>
      <param-name>pwd</param-name>
      <param-value>tiger</param-value>
    </init-param>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>db</servlet-name>
    <url-pattern>/dburl</url-pattern>
  </servlet-mapping>
</web-app>